/**
 * @file
 * Styling for the photo gallery view.
 */

/* Photo album. */

.g2migrate-item.g2migrate-single {
  margin-right: 0;
  width: 100%;
}

.g2migrate-item.g2migrate-single img {
  max-width: 100%;
  height: auto;
}

.g2migrate-item {
  display: inline-block;
  margin: 1ex 2px 0 0;
  vertical-align: bottom;
  position: relative;
}
/* Compensate for the padding and border of the enclosed image. */
.g2migrate-item .photo.bordered {
  margin-right: 6px;
}
/* Hide everything but the photo, except on hover. */
.g2migrate-item .details {
  display: none;
}
.g2migrate-item:hover .details {
  text-align: center;
  display: block;
  position: absolute;
  /* Allow for the padding and border. */
  bottom: 7px;
  left: 0px;
  right: 0px;
  padding-bottom: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
.g2migrate-item:hover .details a,
.g2migrate-item:hover .details a:visited,
.g2migrate-item:hover .details a:link {
  color: white;
}

/* The photo gallery puts select forms inside the breadcrumbs.
 */
#g2migrate-breadcrumb-term-form {
  display: inline-block;
}
#g2migrate-breadcrumb-term-form .form-item {
  margin: 0;
}
